:root {
    --primary-color: #1e8449;
    --secondary-color: #f4d03f;
    --text-color: #333;
    --bg-color: #f2f3f4;
}

body {
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Para asegurar que el contenido se estire */
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
}

.hero {
    position: relative;
}


.hero img {
    width: 100%; /* O el valor que desees */
    height: auto;
}



.data-weather {
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    flex-wrap: wrap; /* Ajuste para que las cajas se adapten al tamaño */
    gap: 40px; /* Espacio entre las cajas */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    border-radius: 10px;
    width: 90%; /* Ajuste de ancho para mejorar la disposición */
}

.info, .weather {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    width: 45%; /* Ancho de cada caja para que se ajusten */
}

.weather {
    background-color: var(--secondary-color);
}

.weather .icon img {
    width: 35px; /* O el valor que desees */
    height: auto;
}


.weather #condition {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--primary-color); /* Aumentar la visibilidad de la condición */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    margin-top: auto; /* El footer se mantiene abajo */
    width: 100%;
}

@media (max-width: 799px) {
    header h1 {
        font-size: 1.5em;
    }

    .data-weather {
        display: flex;
        flex-wrap: wrap; /* Ajuste para que las cajas se adapten al tamaño */
        gap: 40px; /* Espacio entre las cajas */
        padding: 20px;
        border-radius: 10px;
        width: 90%; /* Ajuste de ancho para mejorar la disposición */
        margin: 40px auto; /* Añade margen para separar de la hero y centrar el contenido */
    }

    .info, .weather {
        padding: 20px;
        border-radius: 10px;
        width: 81%; /* Ancho de cada caja para que se ajusten */
    }
    .hero img {
        width: 100%; /* O el valor que desees */
        height: auto;
    }
    .weather {
        background-color: var(--secondary-color);
    }

    footer {
        text-align: center;
        padding: 10px;
        background-color: var(--primary-color);
        color: white;
        margin-top: auto; /* El footer se mantiene abajo */
        width: 100%;
    }
}
